
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.nav-button {
            cursor: pointer;
            display: inline-block;
            padding: 10px 20px;
            border: none;
            background: none;
            color: inherit;
            font: inherit;
            transition: color 0.3s ease;
        }

        .nav-button:hover {
            text-decoration:none; 
            color:rgb(207, 76, 53);
            text-transform: uppercase;
        }
body {
    background-color: #ffffff;
}

.header {
    background-color: #f7f7f7;
    padding: 30px 0;
    border-bottom: 0px solid #ddd;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    text-decoration: none;
    font-size: 32px;
    color: #e41219;
    font-weight: bold;
}
.airbnb-logo {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
    vertical-align: middle;  
    top: 20px; 
    left: 20px; 
    z-index: 1000; 
}
/* NAVIGATION */
.nav-links {
    display: flex;
    align-items: center;
    gap: 25px; 
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.2s;

}

#host-link {
    padding: 8px 16px;
    border: 0px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    background-color: #e1e1e1;
}

#host-link:hover {
    border-color: #FF5A5F;
}

/* PROFILE ICON */
.profile-pic {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar {
    margin-top: 25px;
    background-color: #ffffff;
    max-width: 850px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.search1 {
    text-align: center;
}

.search1 a {
    text-decoration: none;
    color: #000;
}

.search1 p {
    margin-top: 3px;
    color: #777;
    font-size: 14px;
}

/* LISTINGS SECTION */
#listings {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    color: #000;
}

#listings h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.listing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* LISTING BOXES */
.listing-box {
    width: 24%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #fff;
    transition: transform 0.25s ease-in-out;
}

.listing-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* ZOOM EFFECT */
.zoom_in:hover {
    transform: scale(1.03);
}

/* LISTING INFO */
.listing-info {
    padding: 12px;
    text-align: left;
}

.listing-info h4 {
    margin-bottom: 5px;
    font-size: 18px;
}

.listing-info p {
    color: #666;
}

/* FOOTER */
.footer {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}