body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.listings-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.listing-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c6c6c6;
    padding: 15px;
    border-radius: 12px;
    border-bottom: 1px solid #333;
    max-width: 1200px;
}

.listing-info {
    width: 70%;
}

.listing-title {
    font-size: 1.1rem;
    line-height: 1.3;
    margin: 0;
    font-weight: 600;
}

.listing-host {
    font-size: 0.9rem;
    margin-top: 5px;
    opacity: 0.6;
}

.listing-img img {
    width: 110px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
    background: #333;
}

a{
    text-decoration: none;
    color: black;
}